# Intergrate Python with MongoDB
For futher more informations : [Documentation](https://pymongo.readthedocs.io/en/stable/tutorial.html)

### 1. Establish Connection and Make DB and Collections

In [1]:
# Install required Libraries for MongoDB Intergration
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\my\anaconda3\lib\site-packages (3.11.3)

In [2]:
import pymongo

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
db = client['Employee'] # Create Database

In [4]:
information = db.employeeInfo # Create Collection

### 2. Basic Functions of MongoDB (insert_one, insert_many,)

In [5]:
# Insert Data to the Collection `insert_one()`
records = {
    "_id" : 20191157,
    "firstname" : "Viraj",
    "lastname" : "Lakshitha"
}

information.insert_one(records)

In [6]:
# Insert Multiple Data
records = [
    {
        "_id" : 2015741,
        "firstname" : "Cristiano",
        "lastname" : "Ronaldo"
    },
    {
        "_id" : 20201157,
        "firstname" : "John",
        "lastname" : "Cena"
    },
    {
        "_id" : 20181157,
        "firstname" : "Alex",
        "lastname" : "David"
    }
]

information.insert_many(records)

### 3.Queries | JSON Documents

In [7]:
# Simple way of query
information.find_one() # Select the top one record

{'_id': 20191157, 'firstname': 'Viraj', 'lastname': 'Lakshitha'}

In [8]:
# Print all the data
for record in information.find({}):
    print(record)

{'_id': 20191157, 'firstname': 'Viraj', 'lastname': 'Lakshitha'}
{'_id': 2015741, 'firstname': 'Cristiano', 'lastname': 'Ronaldo'}
{'_id': 20201157, 'firstname': 'John', 'lastname': 'Cena'}
{'_id': 20181157, 'firstname': 'Alex', 'lastname': 'David'}

In [9]:
# Query the JSON document based on equality condition
for record in information.find({"firstname": "John"}) :
    print(record)

{'_id': 20201157, 'firstname': 'John', 'lastname': 'Cena'}

In [10]:
# Query documents using query operators($in,$lt,$gt)
for record in information.find({'lastname' : {'$in' : ['Lakshitha','Cena']}}):
    print(record)

{'_id': 20191157, 'firstname': 'Viraj', 'lastname': 'Lakshitha'}
{'_id': 20201157, 'firstname': 'John', 'lastname': 'Cena'}

In [11]:
# Combination of AND and Query Operator --> To perform this _di should be int
for record in information.find({'lastname' : 'Lakshitha', '_id':{'$lt':20191158}}) :
    print(record)

{'_id': 20191157, 'firstname': 'Viraj', 'lastname': 'Lakshitha'}

In [12]:
# Combination of OR and Query Operator
# $or - OR Operator
# $and - AND Operator
for record in information.find({'$or':[{'firstname':'Viraj'},{'lastname':'Lakshitha'}]}) :
    print(record)

{'_id': 20191157, 'firstname': 'Viraj', 'lastname': 'Lakshitha'}

In [13]:
# Create new collection
inventory=db.inventory

In [14]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [15]:
# Nested Values
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('605568e2e9d9eb01fd712f07'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}